

body {
  font-family: 'REM', sans-serif;
  background-image: url('../Images/annie-spratt-sfrmM0ugyd4-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  font-size: 22px;
  flex-direction: column;

}

.weather-container {
  color: white;
  background-color: #181818c2;
  padding: 30px;
  width: 100%;
  height: 400px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  flex-direction: column;
  backdrop-filter: blur(6px);
  position: relative;
  bottom: 80px;
}

.search {
  color: rgba(255, 255, 255, 0.87);
  width: 300px;
  background-color:rgba(12, 12, 12, 0.589);
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 24px;
  margin-right: 8px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 0px;
  outline: none;
  transition: background-color 0.25s ease-in-out;



}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.search-button {
  background-color:rgba(12, 12, 12, 0.589);
  color: white;
  height: 33px;
  width: 33px;
  border-radius: 30px;
  border-style: solid;
  border: none;
  justify-content: space-evenly;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.search-button:hover, .search:hover {
  background-color:rgba(121, 121, 121, 0.349);
}

.weather-status {
  cursor: default;
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 600px;
}


.local-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 150px;
  font-family: inherit;
  font-size: 65px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color:rgba(5, 5, 5, 0.103);
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 15px;
  height: 100px;
  width: 660px;
}

.local-info {
  color: rgba(255, 255, 255, 0.986);
  font-size: 14px;
  position: relative;
  font-style: italic;
  bottom: 70px;
  text-shadow: 0px 0px 4px rgba(43, 43, 43, 0.767);
}
